body {
  margin: 0;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 4fr 4fr 3fr;
  grid-template-areas: 
    "main     main      header" 
    "main     main      candy"
    "nom      yum       candy"
    "footer   footer    candy";
  height: 100vh;
  margin: 2em;
}

main {
  grid-area: main;
  background-color: #dfdfdf;
}

.nom {
  grid-area: nom;
  background-color: #c2c2c2;
}

.yum {
  grid-area: yum;
  background-color: #5a5a5a;
}

.footer {
  grid-area: footer;
  color: #ffffff;
  background-color: #030303;
}

header {
  grid-area: header;
  background-color: #ff0000;
}

.candy {
  grid-area: candy;
  background-color: #1100ff;
  background: url(../images/Pattern4.jpg) no-repeat;
  background-size: cover;
}